## 测试报告样式

#### 字段解释

### Environment
* 报告生成时间:报告生成时间
* Platform:OS系统平台
* Python:Python版本
* Appium:Appium版本

### Summary
* 测试总耗时:时:分:秒
* 测试用例总数:测试用例总数
* 成功用例数:成功用例数
* 失败用例数:失败用例数
* 报错用例数:报错用例数

### Results
* 用例名称
* 运行时间(s)
* 运行日志
* 测试结果